
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World! - A-Frame</title>
    <meta name="description" content="Hello, World! - A-Frame">
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>

    <script src="./scripts/lightContoller.js"></script>
    <script src="./scripts/button.js"></script>
    <script src="./scripts/controller.js"></script>
    <script src="./scripts/skyController.js"></script>


  </head>
  <body>
    <a-scene>
      <a-assets timeout="20000">
        <img id="photo" src="images/1.jpg">
        <img id="photo2" src="images/2.jpg">
      </a-assets>

      <!-- <a-entity 
        geometry="primitive: plane; width: 1.5; height: 1" 
        material="color: blue;"
        rotation="" 
        position="0 1.5 -1">
      </a-entity> -->

      <a-entity 
        class="panel"
        id="high"
        geometry="primitive: circle; radius: 0.1" 
        material="color: red;"
        rotation="" 
        position="0 1.5 -0.9">
      </a-entity>

      <a-entity 
        class="panel"
        id="low"
        geometry="primitive: circle; radius: 0.1" 
        material="color: white;"
        rotation="" 
        position="-0.5 1.5 -0.9">
      </a-entity>

      <a-entity
        id="light"
        lightcontroller
        light="type: point; intensity: 1; distance: 15"
        position="1 2 0">
      </a-entity>

      <a-sky
        id="sky"
        skycontroller>
      </a-sky>

      <a-entity camera position="0 1.5 0" look-controls wasd-controls>
        <a-entity cursor="rayOrigin:mouse;" raycaster="objects: .panel" ccontroller></a-entity>
      </a-entity>
    
    </a-scene>
  </body>

  <script>
    // var onclick = ["#light lightcontoller setIntensity 2"]
    document.querySelector("#high").setAttribute("button", { onClick: ["#sky skycontroller setSrc #photo"]})
    document.querySelector("#low").setAttribute("button", { onClick: ["#sky skycontroller setSrc #photo2"]})
  </script>
</html>