
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World! - A-Frame</title>
    <meta name="description" content="Hello, World! - A-Frame">
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets timeout="20000">
        <video id="video" autoplay loop="true" src="preview.mp4"></video>
        <video id="video2" autoplay loop="true" src="pano.mp4"></video>

      </a-assets>

      <a-videosphere 
        src="#video" 
        geometry="phiLength:190;"
        material="repeat: .5 1;"
        rotation="0 180 0" src="#video">
      </a-videosphere>

      <a-videosphere 
        src="#video" 
        geometry="phiLength:190; phiStart:180;"
        material="repeat: .5 1;"
        rotation="0 180 0" src="#video2">
      </a-videosphere>

    </a-scene>
  </body>
</html>